In [184]:
import pandas as pd

match_data_raw = pd.read_csv('match_data.csv')
match_participants_raw = pd.read_csv('match_participants.csv')
summoners_raw = pd.read_csv('summoners.csv')

In [185]:
match_data_raw.head()

   Unnamed: 0         match_id  duration  winner_team               match_date
0           0  EUW1_7345574446      1279            2  2025-03-23 17:17:26.028
1           1  EUW1_7345519537      2129            1  2025-03-23 16:29:36.270
2           2  EUW1_7345462082      1892            2  2025-03-23 15:45:25.343
3           3  EUW1_7345283730      2100            2  2025-03-23 12:51:39.808
4           4  EUW1_7345261108      1028            1  2025-03-23 12:28:20.830

In [186]:
match_participants_raw.head()

,Unnamed: 0,match_id,puuid,champion,team,role,kills,deaths,assists,damage_dealt,gold_earned,cs,vision_score
0,0,EUW1_7345574446,aNP8068s6OONzaMUW88qvzBGWE0sFsoz-AqBHVXXyiC1tV...,Malphite,1,T OP,4,6,2,20704,6973,133,7
1,1,EUW1_7345574446,uKlRiqstCT2VOt75hPmBk796309iFq5PU0MsrCjlwMSdBb...,JarvanIV,1,JUNGLE,5,7,2,7777,8176,130,19
2,2,EUW1_7345574446,2uMPL5uYl42_SebAuY9-FCgA41z4s7r1UNSv7XWCpD-zK1...,Akali,1,MIDDLE,6,4,3,13100,7865,135,15
3,3,EUW1_7345574446,4ceQ-SVufLXMIWZMB_-MiYTlzVE5lFn7Xy6dZ1ULXaWzwV...,Draven,1,BOTTOM,10,10,5,28404,10874,140,8
4,4,EUW1_7345574446,-V5UK3uV-WveZfz8AvsZ0av8EpbLVcS7cOmfzwHmheYgfg...,Nautilus,1,UTILITY,1,5,12,9313,6356,19,43

In [187]:
summoners_raw.head()

,Unnamed: 0,puuid,name,tagline,tier,rank,lp,wins,losses,last_updated
0,0,aNP8068s6OONzaMUW88qvzBGWE0sFsoz-AqBHVXXyiC1tV...,Bulkatogs,Mafia,DIAMOND,IV,57.0,257.0,239.0,2025-03-25 13:50:09.214567
1,1,uKlRiqstCT2VOt75hPmBk796309iFq5PU0MsrCjlwMSdBb...,omido,8885,DIAMOND,IV,0.0,77.0,79.0,2025-03-25 13:50:09.508840
2,2,2uMPL5uYl42_SebAuY9-FCgA41z4s7r1UNSv7XWCpD-zK1...,Sfarda,EUWE,EMERALD,I,59.0,73.0,63.0,2025-03-25 13:50:09.589951
3,3,4ceQ-SVufLXMIWZMB_-MiYTlzVE5lFn7Xy6dZ1ULXaWzwV...,Knullar Lol,4498,DIAMOND,IV,37.0,76.0,78.0,2025-03-25 13:50:09.675990
4,4,-V5UK3uV-WveZfz8AvsZ0av8EpbLVcS7cOmfzwHmheYgfg...,SkinnyPeeeni,EUW,EMERALD,I,94.0,38.0,46.0,2025-03-25 13:50:09.766993

### adding columns to data_participants [winner_team duration iswin tier rank lp wins losses]

In [188]:


match_participants = match_participants_raw.merge(match_data_raw[['match_id', 'winner_team','duration']], on='match_id', how='left')


match_participants['iswin'] = match_participants.apply(lambda row: 1 if row['team'] == row['winner_team'] else 0, axis=1)
match_participants.head(20)

,Unnamed: 0,match_id,puuid,champion,team,role,kills,deaths,assists,damage_dealt,gold_earned,cs,vision_score,winner_team,duration,iswin
0,0,EUW1_7345574446,aNP8068s6OONzaMUW88qvzBGWE0sFsoz-AqBHVXXyiC1tV...,Malphite,1,T OP,4,6,2,20704,6973,133,7,2,1279,0
1,1,EUW1_7345574446,uKlRiqstCT2VOt75hPmBk796309iFq5PU0MsrCjlwMSdBb...,JarvanIV,1,JUNGLE,5,7,2,7777,8176,130,19,2,1279,0
2,2,EUW1_7345574446,2uMPL5uYl42_SebAuY9-FCgA41z4s7r1UNSv7XWCpD-zK1...,Akali,1,MIDDLE,6,4,3,13100,7865,135,15,2,1279,0
3,3,EUW1_7345574446,4ceQ-SVufLXMIWZMB_-MiYTlzVE5lFn7Xy6dZ1ULXaWzwV...,Draven,1,BOTTOM,10,10,5,28404,10874,140,8,2,1279,0
4,4,EUW1_7345574446,-V5UK3uV-WveZfz8AvsZ0av8EpbLVcS7cOmfzwHmheYgfg...,Nautilus,1,UTILITY,1,5,12,9313,6356,19,43,2,1279,0
5,5,EUW1_7345574446,KuRKpoIXoXGzfo3X2d5Bth7JqDkGXfxmxWYegUJTEgLCgX...,Nasus,2,TOP,10,0,5,23051,10894,179,12,2,1279,1
6,6,EUW1_7345574446,-8m7G8Rry3OvFfVdN68MXuJkR6Y4_qFOjvsYfCAYxODEcS...,Zed,2,JUNGLE,12,4,6,16323,11300,152,13,2,1279,1
7,7,EUW1_7345574446,F_lo6j0pXHvEFW3SGHXnbmOQxnhX7J9-tODVbg5sShTuzg...,Lux,2,MIDDLE,1,7,7,12562,8078,147,19,2,1279,1
8,8,EUW1_7345574446,fB0jo-4G1bi2IjVZeprrWXQklhjf9MrYyl0Oh_xg2P0dW9...,Aphelios,2,BOTTOM,6,9,7,16885,8640,106,7,2,1279,1
9,9,EUW1_7345574446,XAA9Lh1hFtlrSGL_JELC8AT8I3a8Dn1W1uFrC2NnfbRabO...,Poppy,2,UTILITY,3,6,10,9687,5830,13,26,2,1279,1
10,10,EUW1_7345519537,KuRKpoIXoXGzfo3X2d5Bth7JqDkGXfxmxWYegUJTEgLCgX...,Yone,1,TOP,4,8,5,31564,13866,256,25,1,2129,1
11,11,EUW1_7345519537,6_I6uU97FhdlsAfoa0xYDwb1AEp1o0NCT2jIpPsIcyHy8N...,LeeSin,1,JUNGLE,7,6,15,25742,15417,237,57,1,2129,1
12,12,EUW1_7345519537,7XcndUZH-TnX9hK7JoFPtXQfqliXpCaoN9sekY03JppH2q...,Karma,1,MIDDLE,2,5,10,22600,11687,208,31,1,2129,1
13,13,EUW1_7345519537,sw7Vu0zyZWauGgVUTw2WZkVL-9XSFMOrJxTkCzONzIaGNH...,Smolder,1,BOTTOM,20,2,9,63774,19604,292,40,1,2129,1
14,14,EUW1_7345519537,AhlZa5R7Dag4DZFeVjWxJPp1upoIkH_4o8y1gQhYBw2agv...,Bard,1,UTILITY,5,9,16,29278,12514,50,103,1,2129,1
15,15,EUW1_7345519537,aehDhi1oT4DxtyUw4jTYZX-LIPRiMnMs7EnTLcESPxJtWb...,Chogath,2,TOP,11,6,2,30788,16571,277,35,1,2129,0
16,16,EUW1_7345519537,VQ1sBA1rE1MTzEQfEbYubYM6IUKJyUZWtWeYxzVttdx-kw...,Belveth,2,JUNGLE,9,8,10,24922,15196,242,34,1,2129,0
17,17,EUW1_7345519537,XhBhvnUcbJlt7IKu5GnI2w8ZoB2ym1VuNYLu2DnrHBReey...,Hwei,2,MIDDLE,5,7,10,35544,14173,248,14,1,2129,0
18,18,EUW1_7345519537,uYdRwedCYK_2eT6BUMUxuBf3gL1txz666zRfilcs5NO9KT...,Ezreal,2,BOTTOM,2,9,4,31523,11670,243,44,1,2129,0
19,19,EUW1_7345519537,GTZr7jpNF2R9wMtbSS3XGB2LcHxfAnWN5LyA0dSNZKR5sg...,Nami,2,UTILITY,3,8,17,10588,9533,28,102,1,2129,0

In [189]:
match_participants = match_participants.merge(summoners_raw[['puuid','tier','rank','lp','wins','losses']], on='puuid', how='left')
match_participants.head(20)

,Unnamed: 0,match_id,puuid,champion,team,role,kills,deaths,assists,damage_dealt,...,cs,vision_score,winner_team,duration,iswin,tier,rank,lp,wins,losses
0,0,EUW1_7345574446,aNP8068s6OONzaMUW88qvzBGWE0sFsoz-AqBHVXXyiC1tV...,Malphite,1,T OP,4,6,2,20704,...,133,7,2,1279,0,DIAMOND,IV,57.0,257.0,239.0
1,1,EUW1_7345574446,uKlRiqstCT2VOt75hPmBk796309iFq5PU0MsrCjlwMSdBb...,JarvanIV,1,JUNGLE,5,7,2,7777,...,130,19,2,1279,0,DIAMOND,IV,0.0,77.0,79.0
2,2,EUW1_7345574446,2uMPL5uYl42_SebAuY9-FCgA41z4s7r1UNSv7XWCpD-zK1...,Akali,1,MIDDLE,6,4,3,13100,...,135,15,2,1279,0,EMERALD,I,59.0,73.0,63.0
3,3,EUW1_7345574446,4ceQ-SVufLXMIWZMB_-MiYTlzVE5lFn7Xy6dZ1ULXaWzwV...,Draven,1,BOTTOM,10,10,5,28404,...,140,8,2,1279,0,DIAMOND,IV,37.0,76.0,78.0
4,4,EUW1_7345574446,-V5UK3uV-WveZfz8AvsZ0av8EpbLVcS7cOmfzwHmheYgfg...,Nautilus,1,UTILITY,1,5,12,9313,...,19,43,2,1279,0,EMERALD,I,94.0,38.0,46.0
5,5,EUW1_7345574446,KuRKpoIXoXGzfo3X2d5Bth7JqDkGXfxmxWYegUJTEgLCgX...,Nasus,2,TOP,10,0,5,23051,...,179,12,2,1279,1,DIAMOND,IV,32.0,173.0,120.0
6,6,EUW1_7345574446,-8m7G8Rry3OvFfVdN68MXuJkR6Y4_qFOjvsYfCAYxODEcS...,Zed,2,JUNGLE,12,4,6,16323,...,152,13,2,1279,1,EMERALD,II,93.0,23.0,20.0
7,7,EUW1_7345574446,F_lo6j0pXHvEFW3SGHXnbmOQxnhX7J9-tODVbg5sShTuzg...,Lux,2,MIDDLE,1,7,7,12562,...,147,19,2,1279,1,DIAMOND,IV,19.0,52.0,56.0
8,8,EUW1_7345574446,fB0jo-4G1bi2IjVZeprrWXQklhjf9MrYyl0Oh_xg2P0dW9...,Aphelios,2,BOTTOM,6,9,7,16885,...,106,7,2,1279,1,GOLD,III,64.0,4.0,6.0
9,9,EUW1_7345574446,XAA9Lh1hFtlrSGL_JELC8AT8I3a8Dn1W1uFrC2NnfbRabO...,Poppy,2,UTILITY,3,6,10,9687,...,13,26,2,1279,1,DIAMOND,IV,22.0,40.0,48.0
10,10,EUW1_7345519537,KuRKpoIXoXGzfo3X2d5Bth7JqDkGXfxmxWYegUJTEgLCgX...,Yone,1,TOP,4,8,5,31564,...,256,25,1,2129,1,DIAMOND,IV,32.0,173.0,120.0
11,11,EUW1_7345519537,6_I6uU97FhdlsAfoa0xYDwb1AEp1o0NCT2jIpPsIcyHy8N...,LeeSin,1,JUNGLE,7,6,15,25742,...,237,57,1,2129,1,EMERALD,II,42.0,17.0,11.0
12,12,EUW1_7345519537,7XcndUZH-TnX9hK7JoFPtXQfqliXpCaoN9sekY03JppH2q...,Karma,1,MIDDLE,2,5,10,22600,...,208,31,1,2129,1,DIAMOND,IV,18.0,127.0,114.0
13,13,EUW1_7345519537,sw7Vu0zyZWauGgVUTw2WZkVL-9XSFMOrJxTkCzONzIaGNH...,Smolder,1,BOTTOM,20,2,9,63774,...,292,40,1,2129,1,DIAMOND,IV,28.0,73.0,60.0
14,14,EUW1_7345519537,AhlZa5R7Dag4DZFeVjWxJPp1upoIkH_4o8y1gQhYBw2agv...,Bard,1,UTILITY,5,9,16,29278,...,50,103,1,2129,1,EMERALD,I,29.0,26.0,27.0
15,15,EUW1_7345519537,aehDhi1oT4DxtyUw4jTYZX-LIPRiMnMs7EnTLcESPxJtWb...,Chogath,2,TOP,11,6,2,30788,...,277,35,1,2129,0,DIAMOND,IV,0.0,55.0,59.0
16,16,EUW1_7345519537,VQ1sBA1rE1MTzEQfEbYubYM6IUKJyUZWtWeYxzVttdx-kw...,Belveth,2,JUNGLE,9,8,10,24922,...,242,34,1,2129,0,EMERALD,I,93.0,63.0,61.0
17,17,EUW1_7345519537,XhBhvnUcbJlt7IKu5GnI2w8ZoB2ym1VuNYLu2DnrHBReey...,Hwei,2,MIDDLE,5,7,10,35544,...,248,14,1,2129,0,EMERALD,II,63.0,25.0,17.0
18,18,EUW1_7345519537,uYdRwedCYK_2eT6BUMUxuBf3gL1txz666zRfilcs5NO9KT...,Ezreal,2,BOTTOM,2,9,4,31523,...,243,44,1,2129,0,EMERALD,III,40.0,7.0,8.0
19,19,EUW1_7345519537,GTZr7jpNF2R9wMtbSS3XGB2LcHxfAnWN5LyA0dSNZKR5sg...,Nami,2,UTILITY,3,8,17,10588,...,28,102,1,2129,0,DIAMOND,IV,75.0,134.0,116.0

### Deleteing useless columns

In [190]:
match_participants.drop(columns=['Unnamed: 0' ,'match_id', 'puuid', 'team', 'winner_team'], inplace=True)
match_participants.head(20)

,champion,role,kills,deaths,assists,damage_dealt,gold_earned,cs,vision_score,duration,iswin,tier,rank,lp,wins,losses
0,Malphite,T OP,4,6,2,20704,6973,133,7,1279,0,DIAMOND,IV,57.0,257.0,239.0
1,JarvanIV,JUNGLE,5,7,2,7777,8176,130,19,1279,0,DIAMOND,IV,0.0,77.0,79.0
2,Akali,MIDDLE,6,4,3,13100,7865,135,15,1279,0,EMERALD,I,59.0,73.0,63.0
3,Draven,BOTTOM,10,10,5,28404,10874,140,8,1279,0,DIAMOND,IV,37.0,76.0,78.0
4,Nautilus,UTILITY,1,5,12,9313,6356,19,43,1279,0,EMERALD,I,94.0,38.0,46.0
5,Nasus,TOP,10,0,5,23051,10894,179,12,1279,1,DIAMOND,IV,32.0,173.0,120.0
6,Zed,JUNGLE,12,4,6,16323,11300,152,13,1279,1,EMERALD,II,93.0,23.0,20.0
7,Lux,MIDDLE,1,7,7,12562,8078,147,19,1279,1,DIAMOND,IV,19.0,52.0,56.0
8,Aphelios,BOTTOM,6,9,7,16885,8640,106,7,1279,1,GOLD,III,64.0,4.0,6.0
9,Poppy,UTILITY,3,6,10,9687,5830,13,26,1279,1,DIAMOND,IV,22.0,40.0,48.0
10,Yone,TOP,4,8,5,31564,13866,256,25,2129,1,DIAMOND,IV,32.0,173.0,120.0
11,LeeSin,JUNGLE,7,6,15,25742,15417,237,57,2129,1,EMERALD,II,42.0,17.0,11.0
12,Karma,MIDDLE,2,5,10,22600,11687,208,31,2129,1,DIAMOND,IV,18.0,127.0,114.0
13,Smolder,BOTTOM,20,2,9,63774,19604,292,40,2129,1,DIAMOND,IV,28.0,73.0,60.0
14,Bard,UTILITY,5,9,16,29278,12514,50,103,2129,1,EMERALD,I,29.0,26.0,27.0
15,Chogath,TOP,11,6,2,30788,16571,277,35,2129,0,DIAMOND,IV,0.0,55.0,59.0
16,Belveth,JUNGLE,9,8,10,24922,15196,242,34,2129,0,EMERALD,I,93.0,63.0,61.0
17,Hwei,MIDDLE,5,7,10,35544,14173,248,14,2129,0,EMERALD,II,63.0,25.0,17.0
18,Ezreal,BOTTOM,2,9,4,31523,11670,243,44,2129,0,EMERALD,III,40.0,7.0,8.0
19,Nami,UTILITY,3,8,17,10588,9533,28,102,2129,0,DIAMOND,IV,75.0,134.0,116.0

### Finding missing values

In [191]:
print(match_participants.isnull().sum())


match_participants.drop(match_participants[match_participants['role'] == 'Invalid'].index, inplace=True)

champion          0
role              0
kills             0
deaths            0
assists           0
damage_dealt      0
gold_earned       0
cs                0
vision_score      0
duration          0
iswin             0
tier            116
rank            116
lp              116
wins            116
losses          116
dtype: int64

### Missing values in tier are due to riotAPI returning null for unranked players. We could either delete these rows or flag them as unranked and assume 50% win rate. The second option is a bit more risky so for simplicity let's choose the first one. The invalid part is about api scraping most likely collecting wrong gamemode or player behaving in an unpredictable way.

In [192]:
match_participants.dropna(inplace=True)

### Let's change cs and vision score metrics to cs/min and vs/min

In [193]:
match_participants['duration_minutes'] = match_participants['duration'] / 60

match_participants['cs_per_min'] = match_participants['cs'] / match_participants['duration_minutes']
match_participants['vs_per_min'] = match_participants['vision_score'] / match_participants['duration_minutes']

match_participants.drop(columns=['duration_minutes','cs','vision_score','duration'], inplace=True)

match_participants.head(20)

,champion,role,kills,deaths,assists,damage_dealt,gold_earned,iswin,tier,rank,lp,wins,losses,cs_per_min,vs_per_min
0,Malphite,T OP,4,6,2,20704,6973,0,DIAMOND,IV,57.0,257.0,239.0,6.239249,0.328382
1,JarvanIV,JUNGLE,5,7,2,7777,8176,0,DIAMOND,IV,0.0,77.0,79.0,6.098514,0.891321
2,Akali,MIDDLE,6,4,3,13100,7865,0,EMERALD,I,59.0,73.0,63.0,6.333073,0.703675
3,Draven,BOTTOM,10,10,5,28404,10874,0,DIAMOND,IV,37.0,76.0,78.0,6.567631,0.375293
4,Nautilus,UTILITY,1,5,12,9313,6356,0,EMERALD,I,94.0,38.0,46.0,0.891321,2.017201
5,Nasus,TOP,10,0,5,23051,10894,1,DIAMOND,IV,32.0,173.0,120.0,8.397185,0.562940
6,Zed,JUNGLE,12,4,6,16323,11300,1,EMERALD,II,93.0,23.0,20.0,7.130571,0.609851
7,Lux,MIDDLE,1,7,7,12562,8078,1,DIAMOND,IV,19.0,52.0,56.0,6.896013,0.891321
8,Aphelios,BOTTOM,6,9,7,16885,8640,1,GOLD,III,64.0,4.0,6.0,4.972635,0.328382
9,Poppy,UTILITY,3,6,10,9687,5830,1,DIAMOND,IV,22.0,40.0,48.0,0.609851,1.219703
10,Yone,TOP,4,8,5,31564,13866,1,DIAMOND,IV,32.0,173.0,120.0,7.214655,0.704556
11,LeeSin,JUNGLE,7,6,15,25742,15417,1,EMERALD,II,42.0,17.0,11.0,6.679192,1.606388
12,Karma,MIDDLE,2,5,10,22600,11687,1,DIAMOND,IV,18.0,127.0,114.0,5.861907,0.873650
13,Smolder,BOTTOM,20,2,9,63774,19604,1,DIAMOND,IV,28.0,73.0,60.0,8.229216,1.127290
14,Bard,UTILITY,5,9,16,29278,12514,1,EMERALD,I,29.0,26.0,27.0,1.409112,2.902771
15,Chogath,TOP,11,6,2,30788,16571,0,DIAMOND,IV,0.0,55.0,59.0,7.806482,0.986379
16,Belveth,JUNGLE,9,8,10,24922,15196,0,EMERALD,I,93.0,63.0,61.0,6.820103,0.958196
17,Hwei,MIDDLE,5,7,10,35544,14173,0,EMERALD,II,63.0,25.0,17.0,6.989197,0.394551
18,Ezreal,BOTTOM,2,9,4,31523,11670,0,EMERALD,III,40.0,7.0,8.0,6.848286,1.240019
19,Nami,UTILITY,3,8,17,10588,9533,0,DIAMOND,IV,75.0,134.0,116.0,0.789103,2.874589

### Merge tier rank and lp into lp only

In [194]:
tier_order = {
    'IRON': 0,
    'BRONZE': 1,
    'SILVER': 2,
    'GOLD': 3,
    'PLATINUM': 4,
    'EMERALD': 5,
    'DIAMOND': 6,
    'MASTER': 7,
    'GRANDMASTER': 8,
    'CHALLENGER': 9
}

rank_order = {
    'IV': 0,
    'III': 1,
    'II': 2,
    'I': 3
}

match_participants['tier_value'] = match_participants['tier'].map(tier_order)
match_participants['rank_value'] = match_participants['rank'].map(rank_order)


match_participants['total_lp'] = (match_participants['tier_value'] * 400 + 
                                 match_participants['rank_value'] * 100 + 
                                 match_participants['lp'])

match_participants.drop(columns=['tier', 'rank', 'lp', 'tier_value', 'rank_value'], inplace=True)

match_participants.head()

,champion,role,kills,deaths,assists,damage_dealt,gold_earned,iswin,wins,losses,cs_per_min,vs_per_min,total_lp
0,Malphite,T OP,4,6,2,20704,6973,0,257.0,239.0,6.239249,0.328382,2457.0
1,JarvanIV,JUNGLE,5,7,2,7777,8176,0,77.0,79.0,6.098514,0.891321,2400.0
2,Akali,MIDDLE,6,4,3,13100,7865,0,73.0,63.0,6.333073,0.703675,2359.0
3,Draven,BOTTOM,10,10,5,28404,10874,0,76.0,78.0,6.567631,0.375293,2437.0
4,Nautilus,UTILITY,1,5,12,9313,6356,0,38.0,46.0,0.891321,2.017201,2394.0

### Change wins and losses into match_count and winrate

In [195]:
match_participants['match_count'] = match_participants['wins'] + match_participants['losses']
match_participants['winrate'] = match_participants['wins'] / match_participants['match_count']

match_participants.drop(columns=['wins', 'losses'], inplace=True)

match_participants.head()

,champion,role,kills,deaths,assists,damage_dealt,gold_earned,iswin,cs_per_min,vs_per_min,total_lp,match_count,winrate
0,Malphite,T OP,4,6,2,20704,6973,0,6.239249,0.328382,2457.0,496.0,0.518145
1,JarvanIV,JUNGLE,5,7,2,7777,8176,0,6.098514,0.891321,2400.0,156.0,0.493590
2,Akali,MIDDLE,6,4,3,13100,7865,0,6.333073,0.703675,2359.0,136.0,0.536765
3,Draven,BOTTOM,10,10,5,28404,10874,0,6.567631,0.375293,2437.0,154.0,0.493506
4,Nautilus,UTILITY,1,5,12,9313,6356,0,0.891321,2.017201,2394.0,84.0,0.452381

### Let's detect outliers (cs/min,vs/min and assists aren't considered due to differences between supports and rest of the roles)

In [196]:
def find_outliers(df, column):
    Q1 = df[column].quantile(0.2)
    Q9 = df[column].quantile(0.8)
    IQR = Q9 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q9 + 1.5 * IQR
    outliers  = (df[column] < lower_bound) | (df[column] > upper_bound)
    return outliers

kills_outliers = find_outliers(match_participants, 'kills')
deaths_outliers = find_outliers(match_participants, 'deaths')
gold_outliers = find_outliers(match_participants, 'gold_earned')
damage_outliers = find_outliers(match_participants, 'damage_dealt')
match_count_outliers = find_outliers(match_participants, 'match_count')

outliers = (kills_outliers | deaths_outliers | gold_outliers | damage_outliers | match_count_outliers)

match_participants = match_participants[~outliers]

# dectecting smurfs and boosted accounts
unusual_win_rate_condition = (
    ((match_participants['winrate'] < 0.35) | (match_participants['winrate'] > 0.70)) & 
    (match_participants['match_count'] > 50)
)

match_participants = match_participants[~unusual_win_rate_condition]
match_participants.head(10)

,champion,role,kills,deaths,assists,damage_dealt,gold_earned,iswin,cs_per_min,vs_per_min,total_lp,match_count,winrate
0,Malphite,T OP,4,6,2,20704,6973,0,6.239249,0.328382,2457.0,496.0,0.518145
1,JarvanIV,JUNGLE,5,7,2,7777,8176,0,6.098514,0.891321,2400.0,156.0,0.493590
2,Akali,MIDDLE,6,4,3,13100,7865,0,6.333073,0.703675,2359.0,136.0,0.536765
3,Draven,BOTTOM,10,10,5,28404,10874,0,6.567631,0.375293,2437.0,154.0,0.493506
4,Nautilus,UTILITY,1,5,12,9313,6356,0,0.891321,2.017201,2394.0,84.0,0.452381
5,Nasus,TOP,10,0,5,23051,10894,1,8.397185,0.562940,2432.0,293.0,0.590444
6,Zed,JUNGLE,12,4,6,16323,11300,1,7.130571,0.609851,2293.0,43.0,0.534884
7,Lux,MIDDLE,1,7,7,12562,8078,1,6.896013,0.891321,2419.0,108.0,0.481481
8,Aphelios,BOTTOM,6,9,7,16885,8640,1,4.972635,0.328382,1364.0,10.0,0.400000
9,Poppy,UTILITY,3,6,10,9687,5830,1,0.609851,1.219703,2422.0,88.0,0.454545

### Let's normalize the values now

In [197]:
from sklearn.preprocessing import MinMaxScaler


numerical_columns = ['kills', 'deaths', 'assists', 'damage_dealt', 'gold_earned', 
                     'cs_per_min', 'vs_per_min', 'total_lp', 'match_count']

scaler = MinMaxScaler()

match_participants[numerical_columns] = scaler.fit_transform(match_participants[numerical_columns])

match_participants.head()

,champion,role,kills,deaths,assists,damage_dealt,gold_earned,iswin,cs_per_min,vs_per_min,total_lp,match_count,winrate
0,Malphite,T OP,0.210526,0.400000,0.046512,0.352889,0.284315,0,0.510236,0.073831,0.519024,0.776899,0.518145
1,JarvanIV,JUNGLE,0.263158,0.466667,0.046512,0.132555,0.337170,0,0.498727,0.200399,0.506267,0.238924,0.493590
2,Akali,MIDDLE,0.315789,0.266667,0.069767,0.223283,0.323506,0,0.517909,0.158210,0.497090,0.207278,0.536765
3,Draven,BOTTOM,0.526316,0.666667,0.116279,0.484132,0.455712,0,0.537091,0.084378,0.514548,0.235759,0.493506
4,Nautilus,UTILITY,0.052632,0.333333,0.279070,0.158735,0.257206,0,0.072891,0.453534,0.504924,0.125000,0.452381

### Let's perform one hot encoding for champions and roles

In [198]:
champion_dummies = pd.get_dummies(match_participants['champion'], prefix='champion')
role_dummies = pd.get_dummies(match_participants['role'], prefix='role')

match_participants = pd.concat([match_participants, champion_dummies, role_dummies], axis=1)

match_participants.drop(columns=['champion', 'role'], inplace=True)

match_participants.head()

,kills,deaths,assists,damage_dealt,gold_earned,iswin,cs_per_min,vs_per_min,total_lp,match_count,...,champion_Ziggs,champion_Zilean,champion_Zoe,champion_Zyra,role_BOTTOM,role_JUNGLE,role_MIDDLE,role_T OP,role_TOP,role_UTILITY
0,0.210526,0.400000,0.046512,0.352889,0.284315,0,0.510236,0.073831,0.519024,0.776899,...,False,False,False,False,False,False,False,True,False,False
1,0.263158,0.466667,0.046512,0.132555,0.337170,0,0.498727,0.200399,0.506267,0.238924,...,False,False,False,False,False,True,False,False,False,False
2,0.315789,0.266667,0.069767,0.223283,0.323506,0,0.517909,0.158210,0.497090,0.207278,...,False,False,False,False,False,False,True,False,False,False
3,0.526316,0.666667,0.116279,0.484132,0.455712,0,0.537091,0.084378,0.514548,0.235759,...,False,False,False,False,True,False,False,False,False,False
4,0.052632,0.333333,0.279070,0.158735,0.257206,0,0.072891,0.453534,0.504924,0.125000,...,False,False,False,False,False,False,False,False,False,True

In [199]:
match_participants['is_win'] = match_participants['iswin']
match_participants.drop(columns=['iswin'], inplace=True)
match_participants.head(20)

,kills,deaths,assists,damage_dealt,gold_earned,cs_per_min,vs_per_min,total_lp,match_count,winrate,...,champion_Zilean,champion_Zoe,champion_Zyra,role_BOTTOM,role_JUNGLE,role_MIDDLE,role_T OP,role_TOP,role_UTILITY,is_win
0,0.210526,0.400000,0.046512,0.352889,0.284315,0.510236,0.073831,0.519024,0.776899,0.518145,...,False,False,False,False,False,False,True,False,False,0
1,0.263158,0.466667,0.046512,0.132555,0.337170,0.498727,0.200399,0.506267,0.238924,0.493590,...,False,False,False,False,True,False,False,False,False,0
2,0.315789,0.266667,0.069767,0.223283,0.323506,0.517909,0.158210,0.497090,0.207278,0.536765,...,False,False,False,False,False,True,False,False,False,0
3,0.526316,0.666667,0.116279,0.484132,0.455712,0.537091,0.084378,0.514548,0.235759,0.493506,...,False,False,False,True,False,False,False,False,False,0
4,0.052632,0.333333,0.279070,0.158735,0.257206,0.072891,0.453534,0.504924,0.125000,0.452381,...,False,False,False,False,False,False,False,False,True,0
5,0.526316,0.000000,0.116279,0.392892,0.456591,0.686709,0.126568,0.513429,0.455696,0.590444,...,False,False,False,False,False,False,False,True,False,1
6,0.631579,0.266667,0.139535,0.278217,0.474429,0.583127,0.137115,0.482319,0.060127,0.534884,...,False,False,False,False,True,False,False,False,False,1
7,0.052632,0.466667,0.162791,0.214113,0.332865,0.563945,0.200399,0.510519,0.162975,0.481481,...,False,False,False,False,False,True,False,False,False,1
8,0.315789,0.600000,0.162791,0.287796,0.357557,0.406654,0.073831,0.274396,0.007911,0.400000,...,False,False,False,True,False,False,False,False,False,1
9,0.157895,0.400000,0.232558,0.165110,0.234095,0.049873,0.274230,0.511191,0.131329,0.454545,...,False,False,False,False,False,False,False,False,True,1
10,0.210526,0.533333,0.116279,0.537992,0.587170,0.590003,0.158408,0.513429,0.455696,0.590444,...,False,False,False,False,False,False,False,True,False,1
11,0.368421,0.400000,0.348837,0.438759,0.655316,0.546214,0.361170,0.470904,0.036392,0.607143,...,False,False,False,False,True,False,False,False,False,1
12,0.105263,0.333333,0.232558,0.385205,0.491432,0.479378,0.196426,0.510295,0.373418,0.526971,...,False,False,False,False,False,True,False,False,False,1
14,0.263158,0.600000,0.372093,0.499028,0.527768,0.115235,0.652640,0.490376,0.075949,0.490566,...,False,False,False,False,False,False,False,False,True,1
15,0.578947,0.400000,0.046512,0.524766,0.706019,0.638402,0.221771,0.506267,0.172468,0.482456,...,False,False,False,False,False,False,False,True,False,0
16,0.473684,0.533333,0.232558,0.424783,0.645606,0.557737,0.215434,0.504700,0.188291,0.508065,...,False,False,False,False,True,False,False,False,False,0
17,0.263158,0.466667,0.232558,0.605829,0.600659,0.571566,0.088708,0.475604,0.058544,0.595238,...,False,False,False,False,False,True,False,False,False,0
18,0.105263,0.600000,0.093023,0.537293,0.490685,0.560042,0.278798,0.448075,0.015823,0.466667,...,False,False,False,True,False,False,False,False,False,0
19,0.157895,0.533333,0.395349,0.180467,0.396793,0.064532,0.646303,0.523053,0.387658,0.536000,...,False,False,False,False,False,False,False,False,True,0
20,0.052632,0.266667,0.069767,0.340804,0.439851,0.627602,0.228161,0.513429,0.455696,0.590444,...,False,False,False,False,False,False,False,True,False,0

In [200]:
match_participants.to_csv('match_participants_updated.csv', index=False)